
<h2>Lista de Productos</h2>
<div class="product-container" style="display: grid; grid-template-columns: 25% 25% 25% 25%; grid-area: 10px;">
    <div *ngFor="let product of productos" class="product-card">
      <img [src]="product.imagen" alt="product.imageAlt" class="product-image">
      <div class="product-details">
        <h3>{{ product.descripcion }}</h3>
        <p>Precio: {{ product.precio | currency }}</p>
      </div>
    </div>
  </div>
  