.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .product-details {
    margin-top: 10px;
  }
  
  .product-details h3 {
    margin-top: 0;
  }
  
  .product-details p {
    margin: 5px 0;
  }
  