<div class="text">
    <div class="container">
      <div class="banner" style="display: 	flex; justify-content: center; width: 100%;">
        <img alt="Sudamericana Logo" src="https://th.bing.com/th/id/OIP.vjOMDVL1QQy4n-OnYG2q0gAAAA?rs=1&pid=ImgDetMain" height="400px" width="400px">
      </div>
      <div class="content" style="display: 	flex; justify-content: center; width: 100%;">
        <h1 class="title" style="text-align: center;">Bienvenido a tu tienda de confianza</h1>
        
      </div>
    </div>
  </div>